
@{
    ViewBag.Title = "DeliveryBoy";
    Layout = "~/Views/Shared/dashboard.cshtml";
}
    <style>
        #confirm {
            display: none;
            background-color: #F3F5F6;
            color: #000000;
            border: 1px solid #aaa;
            position: fixed;
            width: 450px;
            top: 50%;
            left: 50%;
            -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
            box-sizing: border-box;
            text-align: center;
        }

            #confirm button {
                background-color: #FFFFFF;
                display: inline-block;
                border-radius: 12px;
                border: 4px solid #aaa;
                padding: 5px;
                text-align: center;
                width: 90px;
                cursor: pointer;
            }

            #confirm .message {
                text-align: left;
            }
    </style>
    <script>
    function functionAlert(msg, myYes) {
        var confirmBox = $("#confirm");
        confirmBox.find(".message").text(msg);
        confirmBox.find(".yes").unbind().click(function () {
            confirmBox.hide();
        });
        confirmBox.find(".yes").click(myYes);
        confirmBox.show();
    }
     function preview_image(event) {

        document.getElementById("btn").style.visibility = "visible";
        var reader = new FileReader();
        reader.onload = function () {
            var output = document.getElementById('output_image');
            output.src = reader.result;
        }
        reader.readAsDataURL(event.target.files[0]);
    }

/**/</script>
    <div class="container">
        <h4>Delivery Boy Information</h4>
        @if (Session["email"] != null)
        {
            <table style="padding:50%;" class="container">
                <tr>
                    <td>
                        <div style="font-size:20px;">
                            <table>
                                <tr>
                                    <td><b></b></td>
                                </tr>

                                <tr>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>

                                        @if (Session["image"] != null)
                                        {
                                            String img64 = Convert.ToBase64String((byte[])Session["image"]);
                                            String img64Url = string.Format("data:image/" + Session["img-type"] + ";base64,{0}", img64);
                                            <img src="@img64Url" style="height:200px;width:200px;border-radius: 100%;">
                                        }
                                        else
                                        {
                                            <img src="~/images/dp.png" style="height:200px;width:200px;border-radius: 100%;" />
                                        }
                                        <br /><br />
                                        <input type="button" value="Change Profile" onclick="functionAlert();" style="margin-bottom:0px;" />
                                        <br /> <br />

                                    </td>
                                    <td>

                                        <div id="confirm">
                                            <br />
                                            <h4>Change Profile Picture</h4>
                                            <h5 style="color:red">Note: Login Again To see Changes</h5>
                                            @using (Html.BeginForm("Profile_picture", "Account", FormMethod.Post, new { enctype = "multipart/form-data" }))
                                            {
                                                <img id="output" src="~/dashboard/logo.PNG" style="width:250px;height:250px;border-radius:100%;" />
                                                <input type="file" name="PostedFile" accept="image/*" onchange="loadFile(event)">
                                                <br /><br />
                                                <button>Save</button>
                                                <br /><br />
                                            }
                                            <button class="yes">Close</button>
                                        </div>

                                    </td>
                                </tr>
                                <tr>
                                    <td><b>Name</b></td>
                                    <td></td>
                                    <td>@Session["name"]</td>
                                </tr>
                                <tr>
                                    <td><b>Type</b></td>
                                    <td></td>
                                    <td>@Session["type"]</td>

                                </tr>
                                <tr>
                                    <td><b>Contact</b></td>
                                    <td></td>
                                    <td>@Session["contact"]</td>
                                </tr>

                                <tr>
                                    <td><b>Email</b></td>
                                    <td></td>
                                    <td>@Session["email"]</td>
                                </tr>
                                <tr>
                                    <td><b>Home Address</b></td>
                                    <td></td>
                                    <td>@Session["address"]</td>
                                </tr>
                                <tr>
                                    <td><b>Office Address</b></td>
                                    <td></td>
                                    <td>@Session["officeAddress"]</td>
                                </tr>
                            </table>
                        </div>
                    </td>
                </tr>
            </table>

        }
    </div>
<script>
    var loadFile = function (event) {
        var output = document.getElementById('output');
        output.src = URL.createObjectURL(event.target.files[0]);
        output.onload = function () {
            URL.revokeObjectURL(output.src) // free memory
        }
    };
</script>