@model IEnumerable<Online_Grocery_Order.Models.Product>

@{
    ViewBag.Title = "Product";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/css/font-awesome.min.css" rel="stylesheet" />
<link href="~/js/css/bootstrap.css" rel="stylesheet" />
<script src="~/js/js/jquery-2.1.4.min.js"></script>
<script src="~/js/js/bootstrap.js"></script>
<div class="container">
    <h2>@ViewBag.Item</h2>

    @using (Html.BeginForm("Filteration", "Home", FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="form-group">
                <table>
                    <tr>
                        <td class="col-md-12">
                            <div>
                                @Html.DropDownList("id", new SelectList(ViewBag.category, "Value", "Text"), "- ALL Products -", new { @class = "form-control", style = "text-align:left;font-size:20px;height:40px;border-radius:30px;" })
                                @Html.ValidationMessage("id", "", new { @class = "text-danger" })
                            </div>
                        </td>
                        <td>
                            <div>
                                <button type="submit" style="background-color:white;border:0px;"><i class="fa fa-filter" style="font-size:48px;color:orangered"></i></button>
                                @*<input type="submit" value="Filteration" class="btn" style="border-radius:30px;width:200px;" />*@
                            </div>
                        </td>
                    </tr>
                </table>
                
               
            </div>
        </div>
    }

</div>
<center class="container">
    
    <div class="row" align="center" style="padding-left:40px;padding-top:2px">
        @if (Model.Count() > 0)
        {

            foreach (var file in Model)
            {
                var list = ViewBag.CartCheck;
                String img64 = Convert.ToBase64String(file.Product_img);
                String img64Url = string.Format("data:image/" + file.Type + ";base64,{0}", img64);


                DateTime Now_Date = Convert.ToDateTime(DateTime.Now.ToString("yyyy-MM-dd HH:mm:ss"));

                int cdd = Now_Date.Day;
                int cmm = Now_Date.Month;
                int cyy = Now_Date.Year;

                int pdd = file.Insert_Date.Day;
                int pmm = file.Insert_Date.Month;
                int pyy = file.Insert_Date.Year;

                System.DateTime current = new System.DateTime(cyy, cmm, cdd);
                System.DateTime previous = new System.DateTime(pyy, pmm, pdd);
                System.TimeSpan diffResult = current.Subtract(previous);


                <div class="ccol-md-2" style="padding-bottom:50px;padding-right:20px;">
                    <div class="men-thumb-item">
                        <img src="@img64Url" style="width:200px;height:220px;border-width :10px;border: 2px solid black;border-color:orangered;border-radius:15px;">
                        @*<div class="men-cart-pro">
            <div class="inner-men-cart-pro" align="center">
                <a href='@Url.Action("Single", "Product",new { id = file.Product_ID })' class="link-product-add-cart" >View Details</a>
            </div>
        </div>*@
                       
                            <a href='@Url.Action("Offer", "Product" ,new { id = file.Product_ID })'>
                                <span class="product-new-top">Attach</span>
                             </a>
                         
                        </div>
                    <div class="item-info-product ">
                        <h4>
                            @file.Product_Name | @file.Product_Unit Unit
                        </h4>

                        @if (file.Product_Calories >= 1000)
                        {
                            double cal = file.Product_Calories / 1000;
                            <h4 style="font-size:15px;">
                                @cal Kcal / Unit
                            </h4>
                        }
                        else
                        {
                            <h4 style="font-size:15px;">
                                @file.Product_Calories Cal / Unit
                            </h4>
                         }
                               
                            <div class="info-product-price" style="font-size:15px;">
                                @if (file.Product_Weight >= 1000)
                                {
                                    double weight = file.Product_Weight / 1000;
                                    <span class="item_price">@weight kg | Rs. @file.Product_Price </span>

                                }
                                else
                                {
                                    <span class="item_price">@file.Product_Weight gm | Rs. @file.Product_Price </span>
                                }

                            </div>
                            @*<h4 style="font-size:15px;text-align:left;color:blue;">
                @file.Product_Quantity items In Stock
            </h4>*@
                            <div class="snipcart-details top_brand_home_details item_add single-item hvr-outline-out">
                                @*@if (Session["id"] != null)
                {
                    if (list.Contains(file.Product_ID))
                    {
                        <div class="link-product-add-cart" style="width:100px;font-weight: bold;"> <i class="fa fa-cart-plus" aria-hidden="true" style="font-size:30px;padding-top:4px"></i> &nbsp; <i class="fa fa-check" aria-hidden="true" style="font-size:30px;padding-top:4px"></i></div>
                    }
                    else
                    {
                        <a href='@Url.Action("AddCart", "Cart", new { id = file.Product_ID })'> <div class="link-product-add-cart" style="width:100px;font-weight: bold;padding-top:4px;"> <i class="fa fa-cart-plus" aria-hidden="true" style="font-size:30px;"></i> Cart</div></a>
                    }
                }
                else
                {
                    <a href='@Url.Action("AddCart", "Cart", new { id = file.Product_ID })'> <div class="link-product-add-cart" style="width:100px;font-weight: bold;padding-top:5px;"> <i class="fa fa-cart-plus" aria-hidden="true" style="font-size:30px;"></i> Cart</div></a>
                }*@
                                <a href='@Url.Action("AddCart", "Cart", new { id = file.Product_ID })'> <div class="link-product-add-cart" style="width:150px;font-weight: bold;padding-top:5px;border-radius:10px;"> <i class="fa fa-cart-plus" aria-hidden="true" style="font-size:30px;"></i> Cart</div></a>
                            </div>

                        </div>
                </div>
            }
        }
    </div>
</center>


@*<div style="font-size:20px;" class="container">
    <ul class="inline">
        @{
            double totalpages = ViewBag.TotalPages;
            for (int i = 1; i <= totalpages; i++)
            {
                <li class="pagination">

                    @Html.ActionLink(i.ToString(), "Product", new { Page = i }, new { @class = "btn btn-primary" })

                </li>
            }
        }
    </ul>
</div>*@
<!-- //product right -->
<!-- //top products -->
<style>
    .btn {
        background-color: orangered;
        border: none;
        color: white;
        padding: 10px 10px 10px 10px;
        text-align: center;
        font-size: 16px;
        margin: 4px 2px;
        transition: 0.3s;
    }

        .btn:hover {
            background-color: black;
            color: white;
        }
</style>
