@model IEnumerable<Online_Grocery_Order.Models.Order>

@{
    ViewBag.Title = "Repeat_Order";
    Layout = "~/Views/Shared/customdashboard.cshtml";
}

<link href="~/notification/css/style.css" rel="stylesheet" />
<link href="~/css/font-awesome.min.css" rel="stylesheet" />
<section class="">
    <div class="container">
        <h3 class="m-b-50 heading-line">Repeat Orders</h3>

        <div class="notification-ui_dd-content">
            @{
                int orderID = 0;

                foreach (var file in Model)
                {
                    orderID = file.oid;
                    @*<h5>Order ID: @file.order_ID</h5>*@
                    <div class="notification-list notification-list--unread">
                        <div class="notification-list_content">
                            <div class="notification-list_img">
                               

                            </div>
                            <div class="notification-list_detail">
                                <p style="font-size:20px;"><b>Order No: @file.oid</b></p>
                                <p class="text-muted" style="font-size:15px;">@file.shipping</p>
                                <p class="text-muted" style="font-size:20px;"><small>@file.odate</small></p>
                                <p class="text-muted" style="font-size:15px;color:blue;"><b>Period: </b>After @file.peroid Days My Order Repeat</p>
                            </div>
                        </div>

                        <div class="notification-list_feature-img" align="center">
                            <div class="link-product-add"> <a href='@Url.Action("OrdersDetailsUser", "Order", new { id = file.oid, name = Session["name"] })' id="a1"><img src="~/assets/images/details.png" style="width:40px;height:40px;padding-right:10px" /></a></div>
                        </div>
                    </div>
                    <div class="container">
                        @using (Html.BeginForm("Repeat_Update", "Customer", FormMethod.Post))
                        {
                            @Html.AntiForgeryToken()
                        <table>

                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <tr>
                                <td class="col-md-10">
                                    <input type="hidden" name="orderid" value="@orderID">
                                    @Html.DropDownList("repeat", new SelectList(ViewBag.Repeate, "Value", "Text"), new { @class = "form-control", style = "text-align:left;font-size:20px;height:40px;border-radius:30px;" })
                                </td>
                                <td class="col-md-2">
                                    <input type="submit" value="Update Peroid" class="btn btn-danger" />
                                </td>
                            </tr>

                        </table>
                        }

                    </div>
                    <hr />

                }

            }

        </div>

    </div>
</section>
<style>
    /* unvisited link */
    #a1:link {
        color: white;
    }

    .a1:link {
        color: white;
    }

    /* visited link */
    #a1:visited {
        color: white;
    }

    /* mouse over link */
    #a1:hover {
        color: orange;
    }

    /* selected link */
    #a1:active {
        color: blue;
    }
</style>
